<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ object.name }}</title>
</head>
<body>
    <h1>{{ object.name }}</h1>
    <a href="{% url 'products_list' %}">Home</a>
    <p>Quantity: {{ object.description }}</p>
    <p>Manufacturer: {{ object.manufacturer }}</p>
    <p>Price: {{ object.price }}</p>
    <p>Shipping Cost: {{ object.shipping_cost }}</p>
    <p>Quantity: ${{ object.quantity }}</p>
    <div>
        <img src="{{ object.photo.url }}" alt="object Image" width="100">
    </div>
</body>
</html>